{% extends "base.html" %}
{% block content %}
    {{ super() }}
    {% block app_content %}
         <!-- <div class="embed-responsive" style="min-height: {% if min_height is defined %}{{ min_height }}{% else %}700{% endif %}px"> -->
             <iframe
                     src={{ dash_url }}
                     style="overflow-x: hidden; overflow-y: visible; overflow-x: hidden; position: absolute; width: 100%; height: 94%; background: transparent"
            ></iframe>
        <!-- </div> -->
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
